* {
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(27, 27, 27)
}

.top-bar {
    width: 100%;
    height: 80px;
    background-image: linear-gradient(rgb(10, 10, 10), rgb(27, 27, 27));
    text-decoration: none;
    padding: 10px;
}

.top-bar a {
    padding: 0 8px 0 8px;
    text-decoration: none;
    font-size: 150%;
    color: rgb(112, 69, 69);
} 

#home-button {
    font-size: 250%;
}